.Home_page{
    height: 320px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 10rem;
        height: 10rem;
    }
    h1{
        color: #ef9f00;
        letter-spacing: 2px;
        font-family: emoji;
        font-size: 25px;
        padding: 20px 0;
    }
    p{
        max-width:33rem ;
        color: white;
        letter-spacing: 2px;
        font-family: emoji;

        span{
            color: #ef9f00;
            font-size: 18px;
            border-bottom: 0.1px solid #ef9f00;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:768px) and (min-width:300px){
    .Home_page{
        img{
            height: 6rem;
            width: 6rem;
        }
        h1{
            font-size: 15px;
            font-weight: bold;
        }
        p{
            max-width: 19rem;
            letter-spacing: 0;
            margin-top: 50px;
        }
        
    }
    .QER_HOME{
        justify-content: space-between !important;
        margin: 0 auto;
    }
    .QeR{
        width: 100% !important;
        margin: 0 auto;
        align-items: center;
    }
    .about_program{
        h1{
            font-size: 15px !important;
        }
    }
}